* {
  margin: 0;
  padding: 0;
}

.todo-container {
  width: 500px;
  height: 500px;
  margin: auto;
  background-color: rgb(216, 211, 211);
  border-radius: 25px;
  padding: 5px;
  margin-top: 50px;
}
.todo-title {
  text-align: center;
}
.todo-item {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.todo-input {
  width: 80%;
}
.todo-btn {
}
.list {
}
.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.list-text {
  font-size: 22px;
  margin-right: 5px;
}
